<script src="/javascript/ProducerJs.js"></script>
<div class="Sidebar">
    <p class="SideBarLabel Text">
        Timeslots
    </p>
    <ul class="TimeslotsList">
        <li><a href="#" onclick="displayPlaylist(0)"><%= timeslots[0].time %></a></li>
        <li><a href="#" onclick="displayPlaylist(1)"><%= timeslots[1].time %></a></li>
        <li><a href="#" onclick="displayPlaylist(2)"><%= timeslots[2].time %></a></li>
        <li><a href="#" onclick="displayPlaylist(3)"><%= timeslots[3].time %></a></li>
        <li><a href="#" onclick="displayPlaylist(4)"><%= timeslots[4].time %></a></li>
        <li><a href="#" onclick="displayPlaylist(5)"><%= timeslots[5].time %></a></li>
        <li><a href="#" onclick="displayPlaylist(6)"><%= timeslots[6].time %></a></li>
        <li><a href="#" onclick="displayPlaylist(7)"><%= timeslots[7].time %></a></li>
        <li><a href="#" onclick="displayPlaylist(8)"><%= timeslots[8].time %></a></li>
        <li><a href="#" onclick="displayPlaylist(9)"><%= timeslots[9].time %></a></li>
        <li><a href="#" onclick="displayPlaylist(10)"><%= timeslots[10].time %></a></li>
        <li><a href="#" onclick="displayPlaylist(11)"><%= timeslots[11].time %></a></li>
    </ul>
</div>