<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <nav>
        <%- include('../partials/nav') %>
    </nav>
    <div class="Content">

       

        <!-- Containts the 3 columns used to display information-->
        <div class ="MainGrid" style= "grid-template-columns: 1fr 1fr 1fr; width:100%; justify-content:center; min-height: 50vh; max-height:90vh; grid-auto-flow:column">

            <!--Contains first column content related to timeslot AND the button to begin editing-->
            <div class="TimeslotContentBox">

                <h1>Timeslots</h1>

                <div class="Search">
                    <input type="text" name = "tSlotSearch" id = "tsSearchBar" onkeyup="tsSearch()" style = "height:0.5em;" placeholder="Search Timeslots...">
                    </div>
                    <!-- Eventually populated with database call-->
                    <div class="ScrollList" style="justify-content: start;">
                        <select name = "tSlots" id = "tsOptList" size = "10" type="text" form="plform">
                            
                    
                            <!-- Generate option lists bassed on variables passed to page from server.ejs-->
                            <% tOption.forEach(function(option){ %>
                            <option><%= option.timeslot %> </option>
                            <% }); %>
                           
                            
                           
                        </select>

                    </div>

               
                <div class="TimeslotInfo">
                    <h2>Timeslot Information</h2>
                    <br>
                    Timeslot: <span id = "timeSlotText">Select a Timeslot!</span>
                    <br>
                    DJ: <span id = "djName">DJ Name</span>
                    <br>
                    Current Playlist : <span id = "cPlaylist">Coooool Playlist</span>
                </div>
                
                <!-- Used to begin editing process, after pushing the column selections are validated towards making changes-->
                <div class="EditButton">
                    <button type="button" onclick="editBegin()">Edit Playlist</button>
                    <dialog id="editStart">You are now editing!</dialog>
                    <dialog id="editErr">Please Select a timeslot to begin editing!</dialog>
                    </div>
                    


            </div>

            <!-- Contains second column content related to playlists-->
            <div class = "PlaylistContentBox">

                <h1>Playlists</h1>

                <div class="Search">
                    <input type="text" id = "plSearchBar" onkeyup = "plSearch()" style="height: 0.5em;" placeholder="Search Playlists...">
                    </div>
                    <!-- Eventually populated with database call-->
                    <div class="ScrollList">
                        <select form="plform" name ="PlayLists" id = "plOptList" size = "30" >
                            
                                <!-- Generate option lists bassed on variables passed to page from server.ejs-->
                                <% plOptions.forEach(function(option){ %>
                                    <option><%= option.name %> </option>
                                    <% }); %>
                            
                           
                        </select>

                    </div>
                 
                    </div>

            <!--Contains third column content related to songs-->
            <div class ="SongsContentBox">

                <h1>Song Info</h1>

                <div class="Search">
                <input type="text" id = "sSearchBar" onkeyup = "sSearch()"" style="height:0.5em;" placeholder="Search Songs...">
                </div>

                <!-- Eventually populated with database call-->
                <div class="ScrollList">
                    <select form="plform" name = "songs" id = "sOptList" size = "30" >
                        
                            <!-- Generate option lists bassed on variables passed to page from server.ejs-->
                            <% sOption.forEach(function(option){ %>
                                <option><%= option.name %> </option>
                                <% }); %>
                       
                    </select>

                </div>
                

                <!-- Finalizes changes done, errors to be listed below the button-->
                <div class="EditButton">
                
                <form action="/plUpdate" id ="plform" method = "POST">

                <!-- onclick="doneEdit()" -->

                <button type="Submit">Submit Changes</button>
                </form>
                <dialog id="changesComplete">Changes Accepted!</dialog>
                <dialog id="errBox">Error! Must make selection in all Columns!</dialog> 
                
                
                
                </div>
                

            </div>

        </div>

        
       
    </div>
</body>
</html>

